
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div><h2>Welcome to my site</h2></div>
<div class="text-bg-danger align-text-top text-center">
    <h2>Book Management</h2>
</div>

